.jumbotron {
    background-color: #118df0;
}
.jumbotron h1 {
    color: #fff;
}
.jumbotron p {
    color: #fff;
}
.btn-primary {
    color: #fff;
    background-color: #ff304f;
    border-color: #ff304f;
    box-shadow: 0px 0px 2px #333;
}
p .lead {
  color: #fff;
}
.panel-primary> .panel-heading {
    color: #fff;
    background-color: #118df0;
    border-color: #118df0;
}
.btn-success {
    color: #fff;
    background-color: #ff304f;
    border-color: #ff304f;
    box-shadow: 0px 0px 2px #333;
}
.panel-primary {
    border-color: #118df0;
    background-color: #fff;
}
a {
    color: #118df0;
    text-decoration: none;
}
